@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: 'Nunito', Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
  line-height: 1.5;
  font-weight: 600;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: 'Nunito', Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #252831;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
  display: flex;
}
nav h1 {
  margin: auto;
  font-weight: 600;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
  padding: 15px 40px 15px;
  list-style: none;
  background-color: #f5f5f5;
  margin: 0;
  width: calc(50% - 80px);
  box-shadow: 0 2px 3px rgba(27, 27, 27, 0.1);
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
  font-size: 11pt;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* Skip Link */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px 12px;
  background-color: #f18200;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  border-bottom-right-radius: 4px;
  transition: all 0.2s ease;
}
.skip-link:focus {
  top: 0;
  color: #fff;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #3397DB;
  display: flex;
  align-items: center;
  
  position: sticky;
  top: 0;
}
.filter-options h2 {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1;
  margin: 0 30px;
  flex: 1;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
  border-radius: 3px;
}
.filter-options select:last-child {
  margin-right: 30px;
  margin-left: 0;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
#restaurants-list:empty::after {
  content: 'No Restaurant found';
  text-align: center;
  font-size: 1.3rem;
  color: #878787;
}
#restaurants-list li {
  background-color: #fff;
  /* border: 2px solid #ccc; */
  font-family: 'Nunito', Arial, sans-serif;
  margin: 15px;
  /* min-height: 380px; */
  padding: 0 0 25px;
  text-align: left;
  width: 330px;
  box-shadow: 3px 3px 20px rgba(140, 140, 140, 0.1);
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.3s ease;
}
#restaurants-list li:hover {
  box-shadow: 1px 1px 50px rgba(140, 140, 140, 0.6);
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  /* min-height: 248px; */
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 14pt;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #f3a006;
  /* border-bottom: 3px solid #eee; */
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  font-weight: 700;
  user-select: none;
  margin: 15px 0 0;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 0 3px 15px rgba(243, 160, 6, 0.5);
  transition: all 0.25s ease;
}
#restaurants-list li a:hover {
  opacity: 0.6;
  box-shadow: none;
}

#restaurants-list li h1,
#restaurants-list li p,
#restaurants-list li a {
  margin-left: 30px;
  margin-right: 30px;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.inside #main-content {
  display: flex;
  flex-direction: column;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 80px;
  width: 50%;
  /* This z-index makes the map show on top of the header elements */
  z-index: 10001;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 50%;
}
#restaurant-name {
  color: #f18200;
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 22pt;
  font-weight: 700;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  vertical-align: middle;
}
#restaurant-address {
  font-size: 14pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #252831;
  color: #ddd;
  font-size: 12pt;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 3px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  padding: 140px 3% 30px;
  width: 44%;
}
#reviews-container {
  padding: 15px 3% 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 22pt;
  font-weight: 600;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 15px 20px;
  position: relative;
  border-radius: 4px;
  box-shadow: 3px 3px 20px rgba(140, 140, 140, 0.1);
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours {
  width: 100%;
}
#restaurant-hours td {
  font-size: 11pt;
  color: #666;
}
#restaurant-hours tr td:nth-child(2) {
  text-align: right
}

/* Adding styling to review items.
Did not use class selectors to not deal with JS */
#reviews-list li p:first-child {
  font-size: 1.2rem;
  font-weight: 700;
}
#reviews-list li p:nth-child(2) {
  margin: -12px 0 0;
  line-height: normal;
}
#reviews-list li p:nth-child(3) {
  margin: -2px 0 20px;
}
#reviews-list li p:nth-child(2),
#reviews-list li p:nth-child(3) {
  color: #666;
}
#reviews-list li p:last-child {
  margin: 0;
  font-size: 11pt;
}

/* Media queries */
@media screen and (max-width: 650px) {
  .filter-options {
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: center;
  }
  .filter-options h2 {
    flex-basis: 100%;
    text-align: center;
  }
  .filter-options select {
    flex: 1;
  }
  .filter-options select:last-child {
    margin: 10px;
  }

  #restaurants-list li {
    margin: 15px 5px;
  }
  
  .inside #map-container {
    position: relative;
    width: 100%;
    height: 35vh;
    top: 131px;
    z-index: auto;
  }
  
  #breadcrumb {
    width: 100%;
    padding: 15px;
  }
  
  #restaurant-container,
  #reviews-container {
    width: 94%;
  }
  
  #restaurant-hours tr td:nth-child(2) {
    text-align: left;
  }
  
  .inside #footer {
    right: 0;
  }
}

@media screen and (max-width: 326px) {
  .filter-options select {
    margin: 12px 10px 3px;
  }
  .filter-options select:last-child {
    margin: 3px 10px 5px;
  }
}

/* Mapbox overrides */
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: 0 !important;
  box-shadow: 3px 3px 20px rgba(20, 20, 20, 0.2) !important;
}